.stickyheader {
  transition-property: transform;
  transition-duration: 0.3s;

  @nest &[aria-label="scroll"] {
    position: relative;
  }

  @nest &[aria-label="fixed"] {
    left: 0;
    position: fixed;
    z-index: 1;
  }
}
